{% extends "layout.html" %}

{% block title %}
    Schedule {{ table.name }}
{% endblock title %}

{% block content %}
    <body>
      <div class="modal fade bd-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New lesson</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post" action="{{url_for('table_bp.change_lesson',token=table.token)}}">
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" placeholder="Name" id="staticEmail" >
                  </div>
                </div>
                <div class="form-group row d-none">
                  <div class="col-sm-12 order ">
                    <input type="text" class="form-control " name="num" placeholder="Order" id="order">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label">Link</label>
                  <div class="col-sm-10">
                    <input type="url" class="form-control" name="link" placeholder="Link" id="staticEmail" >
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label">Start</label>
                  <div class="col-sm-10">
                    <input type="time" class="form-control " style="width:95px;" name="start" id="start" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label">End</label>
                  <div class="col-sm-10">
                    <input type="time" class="form-control" style="width:95px;" name="end" id="end" required>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label">Color</label>
                  <div class="col-sm-10 col">
                    <input type="color" id="favcolor" name="col" style="margin-top:7px;" class="form-control form-control-color" value="#ff0000">
                  </div>
                </div>
                <div class="form-group row d-none">
                  <div class="col-sm-12 day ">
                    <input type="text" class="form-control" name="day" id="day">
                  </div>
                </div>
                <div class="form-group row d-none">
                  <div class="col-sm-12 id-table">
                    <input type="text" class="form-control" value="{{table.id}}" name="id-table" id="id-table">
                  </div>
                </div>
                <div class="form-group row d-none">
                  <div class="col-sm-12 token">
                    <input type="text" class="form-control" value="{{table.key}}" name="token" id="token">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Add lesson</button>

                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
        <table width="" class="col-lg-11 col-xl-11 mx-auto">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">1</th>
              <th scope="col">2</th>
              <th scope="col">3</th>
              <th scope="col">4</th>
              <th scope="col">5</th>
              <th scope="col">6</th>
              <th scope="col">7</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Mon</th>
              {% for lesson in lessons["mon"] %}
                {% if lesson.name != "none" %}
                  <td width="20%" style="padding:20px;">
                    <div class="card text-white mb-3" style="max-width: 18rem;background-color:{{ lesson.col }};">
                      <div class="card-header">{{ lesson.name }}</div>
                      <div class="card-body">
                        <h5 class="card-title">{{ lesson.start }} - {{ lesson.end }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </td>
                {% else %}
                  <td style="padding:20px;">
                    <button type="button" class="btn btn-primary" data-bookid="{{lesson.num}}" data-day="{{lesson.day}}" data-toggle="modal" data-target="#exampleModal">Add lesson</button>
                  </td>
                {% endif %}
              {% endfor %}

              <td style="padding:20px;"><button type="button" data-bookid="5" data-day="fri" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add lesson</button></td>

            <tr>
              <th scope="row">Thu</th>
              {% for lesson in lessons["thu"] %}
                {% if lesson.name != "none" %}

                  <td width="20%" style="padding:20px;">
                    <div class="card text-white bg-{{ lesson.col }} mb-3" style="max-width: 18rem;">
                      <div class="card-header">{{ lesson.name }}</div>
                      <div class="card-body">
                        <h5 class="card-title">{{ lesson.start }} - {{ lesson.end }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </td>
                {% else %}
                  <td style="padding:20px;">
                    <button type="button" class="btn btn-primary" data-bookid="{{ lesson.num }}" data-day="{{lesson.day}}" data-toggle="modal" data-target="#exampleModal">Add lesson</button>
                  </td>
                {% endif %}
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">Wen</th>
              {% for lesson in lessons["wen"] %}
                {% if lesson.name != "none" %}

                  <td width="20%" style="padding:20px;">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                      <div class="card-header">{{ lesson.name }}</div>
                      <div class="card-body">
                        <h5 class="card-title">{{ lesson.start }} - {{ lesson.end }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </td>
                {% else %}
                  <td style="padding:20px;">
                    <button type="button" class="btn btn-primary" data-bookid="{{ lesson.num }}" data-day="{{lesson.day}}" data-toggle="modal" data-target="#exampleModal">Add lesson</button>
                  </td>
                {% endif %}
              {% endfor %}
            </tr>
          <tr>
              <th scope="row">Thur</th>
              {% for lesson in lessons["thur"] %}
                {% if lesson.name != "none" %}

                  <td width="20%" style="padding:20px;">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                      <div class="card-header">{{ lesson.name }}</div>
                      <div class="card-body">
                        <h5 class="card-title">{{ lesson.start }} - {{ lesson.end }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </td>
                {% else %}
                  <td style="padding:20px;">
                    <button type="button" class="btn btn-primary" data-bookid="{{ lesson.num }}" data-day="{{lesson.day}}" data-toggle="modal" data-target="#exampleModal">Add lesson</button>
                  </td>
                {% endif %}
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">Fri</th>
              {% for lesson in lessons["fri"] %}
                {% if lesson.name != "none" %}

                  <td width="20%" style="padding:20px;">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                      <div class="card-header">{{ lesson.name }}</div>
                      <div class="card-body">
                        <h5 class="card-title">{{ lesson.start }} - {{ lesson.end }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </td>
                {% else %}
                  <td style="padding:20px;">
                    <button type="button" class="btn btn-primary" data-bookid="{{ lesson.num }}" data-day="{{lesson.day}}" data-toggle="modal" data-target="#exampleModal">Add lesson</button>
                  </td>
                {% endif %}
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">Sat</th>
              {% for lesson in lessons["sat"] %}
                {% if lesson.name != "none" %}

                  <td width="20%" style="padding:20px;">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                      <div class="card-header">{{ lesson.name }}</div>
                      <div class="card-body">
                        <h5 class="card-title">{{ lesson.start }} - {{ lesson.end }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </td>
                {% else %}
                  <td style="padding:20px;">
                    <button type="button" class="btn btn-primary" data-bookid="{{ lesson.num }}" data-day="{{lesson.day}}" data-toggle="modal" data-target="#exampleModal">Add lesson</button>
                  </td>
                {% endif %}
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">Sun</th>
              {% for lesson in lessons["sun"] %}
                {% if lesson.name != "none" %}

                  <td width="20%" style="padding:20px;">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                      <div class="card-header">{{ lesson.name }}</div>
                      <div class="card-body">
                        <h5 class="card-title">{{ lesson.start }} - {{ lesson.end }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </td>
                {% else %}
                  <td style="padding:20px;">
                    <button type="button" class="btn btn-primary" data-bookid="{{ lesson.num }}" data-day="{{lesson.day}}" data-toggle="modal" data-target="#exampleModal">Add lesson</button>
                  </td>
                {% endif %}
              {% endfor %}
            </tr>
          </tbody>
        </table>


    </body>
    <script>
      $('#exampleModal').on('show.bs.modal', function (event) {
        let bookId = $(event.relatedTarget).data('bookid');
        let day = $(event.relatedTarget).data('day');
        $(this).find('.modal-body .order input').val(bookId);
        $(this).find('.modal-body .day input').val(day);
      })
    </script>


{% endblock content %}